@model Product

<form method="post">
    <p>Id: <input asp-for="Id" /></p>
    <p>Name: <input asp-for="Name" /></p>
    <p>Description: <input asp-for="Description" /></p>
    <p>Price: <input asp-for="Price" /></p>
    <p>Quantity: <input asp-for="Quantity" /></p>
    <button type="submit">Create</button>
</form>